ocis returns `application/xml` content-type and not `text/xml` like oc10

when responding with XML data ocis returns `application/xml` content-type and not `text/xml` like oc10
I feel that is OK because the XML data is not formatted in the OCIS response:
```
<?xml version="1.0" encoding="UTF-8"?>
<ocs><meta><status>ok</status><statuscode>200</statuscode><message>OK</message></meta><data><enabled>true</enabled><id>jasmine</id><display-name>jasmine</display-name><displayname>jasmine</displayname><email>jasmine@example.com</email><uidnumber>20008</uidnumber><gidnumber>30000</gidnumber></data></ocs>
```
vs oc10:
```
<?xml version="1.0"?>
<ocs>
 <meta>
  <status>ok</status>
  <statuscode>200</statuscode>
  <message/>
 </meta>
 <data/>
</ocs>
```

the [RFC 3023 section 3](https://tools.ietf.org/html/rfc3023#page-5) says:
```
If an XML document -- that is, the unprocessed, source XML document
   -- is readable by casual users, text/xml is preferable to
   application/xml.  MIME user agents (and web user agents) that do not
   have explicit support for text/xml will treat it as text/plain, for
   example, by displaying the XML MIME entity as plain text.
   Application/xml is preferable when the XML MIME entity is unreadable
   by casual users.  Similarly, text/xml-external-parsed-entity is
   preferable when an external parsed entity is readable by casual
   users, but application/xml-external-parsed-entity is preferable when
   a plain text display is inappropriate.
```

This issue is just for clarification and to track differences we encounter in pact tests in the SDK.

Please comment if you think the current behaviour should be changed.