tests expect a wrong filename param in content-disposition

While looking at https://github.com/owncloud/ocis/pull/10103 I saw that the tests/acceptance/features/coreApiWebdavOperations/downloadFile.feature expects `filename=""quote"double".txt"`:
```
      | Content-Disposition               | attachment; filename*=UTF-8''%22quote%22double%22.txt; filename=""quote"double".txt" |
```

That is actually wrong. Here is the chain of 
```

     filename-parm       = "filename" "=" value
                         | "filename*" "=" ext-value

       Defined in [RFC2616]:

     token         = <token, defined in [RFC2616], Section 2.2>
     quoted-string = <quoted-string, defined in [RFC2616], Section 2.2>
     value         = <value, defined in [RFC2616], Section 3.6>
                   ; token | quoted-string

    quoted-string  = ( <"> *(qdtext | quoted-pair ) <"> )
    qdtext         = <any TEXT except <">>
    
    quoted-pair    = "\" CHAR
```

`qdtext` must not contain any `"`. if so they must be quoted: `\"`:
```diff
-       | Content-Disposition               | attachment; filename*=UTF-8''%22quote%22double%22.txt; filename=""quote"double".txt" |
+       | Content-Disposition               | attachment; filename*=UTF-8''%22quote%22double%22.txt; filename="\"quote\"double\".txt" |
```

this should be tackled in a separate PR. The code needs to be fixed in reva, similar to https://github.com/cs3org/reva/pull/4748/files#diff-76bd77409b0be83f0ccc7c348bfc5c4552547e7320d85b87eb70c2e490fe971fR31 ... but leave `filename*` as it is. That PR is a proper fix for it.
